
body {
  font-family: roboto, arial;
  padding-top: 10%;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  background-repeat:no-repeat;
  background-image: url(simple-website-bg-img.jpg);
}
header {
  display: flex;
  gap: 56.2%;
  align-items: center;
  background-color: rgb(27, 26, 26);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 9%;
}
.right-section {
  display: flex;
  align-items: center;
  gap: 10%;
  cursor: pointer;
  transition: 0.3s;
  margin-right:-2%;
}
.bar {
  font-size: 17px;
  color: white;
}
.bar:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.left-section {
  cursor: pointer;
  font-size: 19px;
  color: white;
  font-weight: 600;
  margin-left: 1%;
}
.left-section:hover {
  text-decoration: underline;
}
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1%;
  width: 80%;
  text-align: center;
}
.paragraph {
  font-size: 45px;
  font-weight: 500;
  line-height: 160%;
  color: white;
}
.Learn {
  background-color: transparent;
  color: white;
  padding: 1% 2% 1% 2%;
  border: white 1px solid;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1.5%;
  font-size: medium;
}
.subscribe {
  background-color: white;
  color: black;
  padding: 1.09% 2.9% 1.09% 2.9%;
  border: none;
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1.5%;
}

@media screen and (max-width: 768px) {
  header {
    height: 60px;
    gap: 9%;
    padding: 0 5%;
  }
  .right-section {
    gap: 7px;
  }
  .bar {
    font-size: 12px;
  }
  .left-section {
    font-size: 13px;
  }
  .center {
    width: 90%;
    margin-top: 100px;
  }
  .paragraph {
    font-size: 30px;
    line-height: 140%;
    margin-bottom: 40px;
  }
  .Learn,
  .subscribe {
    padding: 3% 6%;
    font-size: 14px;
    display: block;
    margin: 15px auto;
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  header {
    height: 50px;
    gap: 25%;
    padding: 0 10px;
  }
  .right-section {
    gap: 7%;
  }
  .left-section {
  font-size: 8px;
}
  .bar {
    font-size: 10px;
  }
  .center {
    width: 95%;
  }
  .paragraph {
    font-size: 24px;
    margin-bottom: 240px;
    margin-top: 200px;
  }
  .Learn,
  .subscribe {
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
    font-size: 14px;
  }

}

